extends layout.pug

block datablock
  - var title = "Scookum web";
  - var header = "Scookum Web Admin";
  - var appName = "main";

block header
  h1= title

block append scripts
  script(src="js/mainController.js")
  
block contents
  div.row(ng-controller="mainController")
    div.col-md-6 Hello pug world! #{appName}
      div= appName
    

