extends layout.pug

block datablock
  - var title = "Scookum web";
  - var header = "Scookum Web Admin";
  - var appName = "main";

block header
  h1= title

block append styles
  link(rel="stylesheet" href="components/amcharts3/amcharts/plugins/export/export.css")

block append scripts
  script(src="components/amcharts3/amcharts/amcharts.js")
  script(src="components/amcharts3/amcharts/serial.js")
  script(src="components/amcharts3/amcharts/plugins/export/export.min.js")
  script(src="components/amcharts3/amcharts/themes/light.js")
  script(src="js/chartOptions.js")
  script(src="js/mainController.js")
  
block contents
  div.row(ng-controller="mainController")
    div.col-md-6
      div
        form
          div
            span(ng-repeat="host in hosts")
              input.br-green.hidden(type="radio" id="chart-{{host}}" name="hostselect" value="{{host}}" ng-model="chartHost")
              label.btn.btn-default.radio-inline(for="chart-{{host}}") {{host}}
          div
            span(ng-repeat="chart in charts")
              input.br-green.hidden(type="radio" id="chart-{{chart}}" name="chartselect" value="{{chart}}" ng-model="chartSource")
              label.btn.btn-default.radio-inline(for="chart-{{chart}}") {{chart}}
          //each chart in chartlist
          //  input.hidden(id=chart type="radio" name="chartselect" value=chart)
          //  label.btn.btn-default.radio-inline(for=chart)= chart
          //select.form-control(ng-model="chart", ng-change="onChartSelect()")
            //option(ng-repeat="chart in charts") {{chart}}
      div#chartdiv(style={width:"640px", height: "480px"})
