extends layout.pug

block datablock
  - var title = "Scookum web";
  - var header = "Scookum Web Admin";
  - var appName = "main";

block header
  h1= title

block append styles
  link(rel="stylesheet", href="amcharts/plugins/export/export.css")

block append scripts
  script(src="amcharts/amcharts.js")
  script(src="amcharts/serial.js")
  script(src="amcharts/plugins/export/export.min.js")
  script(src="amcharts/themes/light.js")
  script(src="js/chartOptions.js")
  script(src="js/mainController.js")
  
block contents
  div.row(ng-controller="mainController")
    div.col-md-6
      div
        form
          select.form-control(ng-model="chart", ng-change="onChartSelect()")
            option(ng-repeat="chart in charts") {{chart}}
      div#chartdiv(style={width:"640px", height: "480px"})
