block datablock
doctype html
html(ng-app=appName)
  head
    title
      block title
        | Scookum Web
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block styles
      link(href="components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
      link(href="css/style.css", rel="stylesheet")
    block scripts
      script(src="components/jquery/dist/jquery.min.js")
      script(src="components/bootstrap/dist/js/bootstrap.min.js")
      script(src="components/angular/angular.min.js")
      script(src="components/angular-resource/angular-resource.min.js")
    body
      header.container
        div.row
          block header
            | Scookum Web
      nav
        block nav
      aside
        block aside
      div.container
        block contents
      footer
