.color-sub
  color red

.color-specific
  color green
  
.color-main
  font-size 40px
  border-style solid
  color blue

.col-sm-6
  width 45%

input.br-green:checked + label
  background-color green    
